<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>客户_手动创建页面_给固定模板</title>
		<link rel="stylesheet" href="../../css/pc/public/public.css" />
		<!--<link rel="stylesheet" href="../../css/phone/public/swiper.min.css" />-->
		<link rel="stylesheet" href="../../css/pc/edit_index.css" />
		<link rel="stylesheet" href="">
	</head>
  <style>
 
  </style>
	<body>
		<div class="wrapper" id="edit_app_wrap">
			<div class="tab">
				<ul class="tabs clearfloat">
					<li class="active">
						<a href="" data-toggle="0">首页编辑</a>
					</li>
					<li>
						<a href="" data-toggle="1">分类</a>
					</li>
					<li>
						<a href="" data-toggle="2">购物车</a>
					</li>
					<li>
						<a href="" data-toggle="3">个人中心</a>
					</li>
				</ul>
			</div>
			<!--首页编辑-->
			<div class="content clearfloat">
				<!--left box-->
				<div class="left_box">
					<!--功能插件-->
					<div class="left_box_fun_box clearfloat">
						<p class="fun_box_top">功能插件</p>
						<div class="fun_box_content clearfloat">
							<!--项-->
							<p class="fun_box_content_term"  v-for="(v,i) in componentTerm" @click="comTremFun(v.id)">{{v.name}}</p>
						</div>
					</div>
				</div>
				<!--中间 box-->
				<div class="middle_box">
					<!--绝对定位=>设置图片，模拟手机-->
					<p class="phone_top"></p>
					<p class="phone_left"></p>
					<p class="phone_right"></p>
					<!--模拟手机的 wrap，背景图两边（img）-->
					<div class="html_wrpa">
						<!--水平居中-->
						<div class="html_box">
							<!--隐藏滚动条-->
							<!--<div class="html_box_new" id="view">
								<include src="new_index.html"></include>
							</div>-->
							<!-- <iframe src="new_index.html" frameborder="0" width="100%"></iframe> -->
                      <!--00写在-本页面00-->
							<div id="wrap_new">
								<div class="drag_box" v-for="(v,i) in dataobj"  
									draggable="true" 
									@dragstart="handleDragStart($event, v)" 
									@dragover.prevent="handleDragOver($event, v)" 
									@dragenter="handleDragEnter($event, v)" 
									@dragend="handleDragEnd($event, v)">
									<!--模块 box，拖拽的div-->
									<div class="modle_box" v-if="v.id == 'rotation'? true:''" :key="v.id" @click="editMode(v.index)">
										 <img class="sowingMapImgNQ" src="../../img/0005.png" alt="" />
										<div class="cursor_box remove_ele">
											<!--1、删除按钮，生成html=>删除(remove_ele)-->
											<p class="cursor_box_del" onclick="removerEle(this)">删除</p >
										</div>
									</div>
									
									<!--搜索模块 box，拖拽的div-->
									<div class="modle_box" v-if="v.id == 'search'? true:''" :key="v.id" @click="editMode(v.index)">
										搜索
									</div>
									<!-- 按钮组 拖拽div -->
								<div class="drag_box" v-if="v.id == 'bottons'? true:''" :key="v.id" @click="editMode(v.index)">
									<!--模块 box-->
									<div class="modle_box">
										<div class="modle_bottons rim-mod-select modle-mod "  style="background-color: rgb(255, 255, 255);" :style="{backgroundColor:btnObj.iconColor}">
											<div   class="botton-scope" v-for="item in btnObj.iconList">
												<a href="unsafe:javascript:;">
													<div class="modle_mod_nav"  :style="{width: btnObj.iconNum}">
														<div class="modle_mod_img">
															<img   :src="item.url" style=" height: 39px;" :style="{borderRadius:btnObj.iconStyle}">
														</div>
														<div class="modle_mod_text">{{item.text}}</div>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
									
									
								</div>
								
							</div>
							
							
						</div>
					</div>
					<!--模拟手机的 wrap，背景图两边（img）-->
					<p class="phone_bottom"></p>
				</div>
				<!--编辑模板 box-->
				<div class="right_box">
					<!--编辑模板-->
					<div class="edit_modle">
							<div  class="ng-scope"><div class="fe-panel-editor-title ng-scope">按钮组设置<span class="tips">Tips:图片必须是正方形或者正圆形</span></div>
							<div class="fe-panel-editor-line ng-scope">
									<div class="fe-panel-editor-name">图标样式</div>
									<div class="fe-panel-editor-con" >
											<label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="M1555639821352_style" v-model="btnObj.iconStyle" value="0"  class="ng-pristine ng-untouched ng-valid"> 正方形</label>
											<label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="M1555639821352_style" v-model="btnObj.iconStyle" value="100%"  class="ng-pristine ng-untouched ng-valid"> 圆形</label>
									</div>
							</div>
							<div class="fe-panel-editor-line ng-scope">
									<div class="fe-panel-editor-name">按钮数量</div>
									<div class="fe-panel-editor-con">
											<label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="M1555639821352_num" value="25%" v-model="btnObj.iconNum" class="ng-pristine ng-untouched ng-valid"> 四个按钮</label>
											<label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="M1555639821352_num" value="20%" v-model="btnObj.iconNum" class="ng-pristine ng-untouched ng-valid"> 五个按钮</label>
									</div>
							</div>
							<div class="fe-panel-editor-line ng-scope">
									<div class="fe-panel-editor-name">背景颜色</div>
									<div class="fe-panel-editor-con">
											<input class="fe-panel-editor-input2 ng-pristine ng-untouched ng-valid" type="color" v-model="btnObj.iconColor">
									</div>
							</div>
							</div>
							<!-- <btn-set @getRadius="getRadiuss"></btn-set> -->
					</div>
				</div>
			</div>
			<!-- 分类 -->
			<div class="content clearfloat" style="display:none">
				<!--中间 box-->
				<div class="middle_box">
					<!--绝对定位=>设置图片，模拟手机-->
					<p class="phone_top"></p>
					<p class="phone_left"></p>
					<p class="phone_right"></p>
					<!--模拟手机的 wrap，背景图两边（img）-->
					<div class="html_wrpa">
						<!--水平居中-->
						<div class="html_box">
							<iframe src="../phone/classify/classify.html"></iframe>
						</div>
					</div>
					<p class="phone_bottom"></p>
				</div>
			</div>
			<!-- 购物车 -->
			<div class="content clearfloat" style="display:none">
				<!--中间 box-->
				<div class="middle_box">
					<!--绝对定位=>设置图片，模拟手机-->
					<p class="phone_top"></p>
					<p class="phone_left"></p>
					<p class="phone_right"></p>
					<!--模拟手机的 wrap，背景图两边（img）-->
					<div class="html_wrpa">
						<!--水平居中-->
						<div class="html_box">
							<!--隐藏滚动条-->
							<!--<div class="html_box_new"">-->
							<iframe class="html_box_new" src="../phone/shopping_cart/shopping_cart.html" frameborder="0"></iframe>
							<!--</div>-->
						</div>
					</div>
					<p class="phone_bottom"></p>
				</div>
			</div>
			<!-- 个人中心 -->
			<div class="content clearfloat" style="display:none">
				<!--中间 box-->
				<div class="middle_box">
					<!--绝对定位=>设置图片，模拟手机-->
					<p class="phone_top"></p>
					<p class="phone_left"></p>
					<p class="phone_right"></p>
					<!--模拟手机的 wrap，背景图两边（img）-->
					<div class="html_wrpa">
						<!--水平居中-->
						<div class="html_box" style="overflow: hidden;">
							<!--隐藏滚动条-->
								<iframe class="html_box_new" src="../phone/my/user.html"></iframe>
						</div>
					</div>
				
					<p class="phone_bottom"></p>
				</div>
			</div>
		</div>

		<script src="../../js/pc/public/jquery-1.8.3.js"></script>
		<!--public的js-->
		<!--<script src="../../js/pc/edit_index.js"></script>-->
		
		<script>
			$(document).ready(function() {

				// tba切换
				$(".tabs>li>a").click(function(e) {
					e.preventDefault();
					var $tar = $(e.target);
					var index = $tar.attr('data-toggle')
					if($tar.is("[data-toggle]")) {
						$tar.parent().addClass('active').siblings().removeClass('active')
						$('.wrapper').children('.content').eq(index).show().siblings('.content').hide()
					}
				})

			})
		</script>
		<script src="../../js/pc/public/vue.js"></script>
		<script>
	
			var newVue = new Vue({
				el: "#edit_app_wrap",
				data: {
					/*公共存放 index*/
					publiInd: 0,
					/*组件-选项*/
					componentTerm: [
						{name:"轮播",id:'rotation'},
						{name:"搜索框",id:'search'},
						{name:"按钮组",id:'bottons'},
						{name:"店招",id:'signage'},
						{name:"商品组",id:'productList'},
						{name:"公告",id:'notice'},
						{name:"辅助空白",id:'blank'},
						{name:"广告",id:'banner'},
						{name:'标题',id:'title'}
					],
					
					/*拖拽需要的元素*/
					dragging: null,
					/*公共state*/
					puState: null,  
					/*（pc端）渲染-组件，数组形式*/
					dataobj: [
						//数据格式
						/*{
							id: _id,
							index: _index,
						}*/
					],
					/*传个后台-data ，对象形式*/
					backData: [
						/*数据格式*/
//						{
//							uid:'',
//							/*0=>正方形，1=>长方形，2=>圆形*/
//							butStyle: 0,
//							/*left=>左，middle=>中间，right=>右*/
//							butPosition: 'middle',
//							/*按钮颜色*/
//							butColor: '',
//							/*轮播的图片路径*/
//							imgUrl: [
//								'../../img/0005.png',
//								'../../img/0005.png',
//								'../../img/0005.png',	
//							],
//						}
					],
					/*轮播图，数据初始化*/
					roObj: {
						/*id*/
						uid:'rotation',
						/*0=>正方形，1=>长方形，2=>圆形*/
						butStyle: 0,
						/*left=>左，middle=>中间，right=>右*/
						butPosition: 'middle',
						/*按钮颜色*/
						butColor: '',
						/*轮播的图片路径*/
						imgUrl: [
							'../../img/0005.png',
							'../../img/0005.png',
							'../../img/0005.png',	
						],
					},
					/*搜索框，数据初始化*/
					reObj: {
						/*id*/
						uid:'search',
						/*提示文字*/
						tipeText: '你会了么？',
						/*0=>样式一，1=>样式二*/
						reStyle: 0,
						/*文字颜色*/
						textColor: '#999',
						/*边框颜色*/
						borderColor: '#ccc',
						/*背景颜色*/
						backColor: '#000',
					},
					// 按钮组，数据初始化
					btnObj: {
						/*id*/
						uid:'bottons',
						/*图标样式*/
						iconStyle: 0,
						/*0=>样式一，1=>样式二*/
						iconNum: '20%',
						/*背景颜色*/
						iconColor: '',
						iconList:[
							{id:'1',text:'按钮文字',location:'',url:'../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg',siezColor:'39'},
							{id:'2',text:'按钮文字',location:'',url:'../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg',siezColor:'39'},
							{id:'3',text:'按钮文字',location:'',url:'../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg',siezColor:'39'},
							{id:'4',text:'按钮文字',location:'',url:'../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg',siezColor:'39'},
							{id:'5',text:'按钮文字',location:'',url:'../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg',siezColor:'39'}
						]	
					},
				},
				methods: {
						/*<< 拖拽*/
					handleDragStart(e, item) {
						this.dragging = item;
					},
					handleDragEnd(e, item) {
						this.dragging = null
					},
					//首先把div变成可以放置的元素，即重写dragenter/dragover
					handleDragOver(e) {
						e.dataTransfer.dropEffect = 'move' // e.dataTransfer.dropEffect="move";//在dragenter中针对放置目标来设置!
					},
					handleDragEnter(e, item) {
						e.dataTransfer.effectAllowed = "move" //为需要移动的元素设置dragstart事件
						if(item === this.dragging) {
							return
						}
						/*pc数据渲染的data*/
						const newItems = [...this.dataobj]
						console.log(newItems)
						const src = newItems.indexOf(this.dragging)
						const dst = newItems.indexOf(item)

						newItems.splice(dst, 0, ...newItems.splice(src, 1));
						/*重置--pc数据渲染的data*/
						this.dataobj = newItems;
						/*(存储)重新排序=>传给后台的数据*/
						var thisBackData = [];
						/*因为-拖拽-改变data的位置，重新编辑（传给后台的数据）*/
						for(var k=0;k<this.dataobj.length;k++){
							/*pc渲染data-排序*/
							this.dataobj[k]['index'] = k;
							for(var j=0;j<this.backData.length;j++){
								if(this.dataobj[k]['id'] == this.backData[j]['uid'] ){
									console.log(333,this.backData[j]);
									/*找到对应的id，放在thisBackData*/
									thisBackData[k] = this.backData[j];
								}
							}
							
						}
						// 深克隆，把引用数据类型的，分解成基础类型（克隆）
						// 第一个参数是数据，第二参数是数组或对象(想转换的类型)
						function clones(_type, _memory){
							var newMemory = null;
							// 判断传过来的数据类型
							if(_type instanceof Array) {
								newMemory = _memory || [];
							} else {
								newMemory = _memory || {};
							}
							for(var x in _type) {
								//引用数据类型的 typeof为 object
								if(typeof _type[x] == "object") {
									newMemory[x] = (_type[x].constructor == Array) ? [] : {};
									clones(_type[x], newMemory[x]); //递归
								} else {
									// 数据赋值
									newMemory[x] = _type[x];
								}
							}
							return newMemory;
						}
						/*通过深克隆，赋值数据*/
						this.backData = clones(thisBackData);
						/*初始化*/
						thisBackData = [];	
						console.log('后台666',this.backData);
						
						
					},
					/* 拖拽 >>*/
					
					
					/*组件选项-按钮*/
					comTremFun(_id){
						var that = this;
						console.log(_id,that.dataobj.length );
//						/*新的数据渲染*/
//						var newPageData = [];
//						/*拖拽-改变-数据渲染的位置。*/
//						for(var i=0;i<that.backData.length;i++){
//							if(that.backData[i]['index'] != i){
//								that.backData[i]['index'] = i;
//							}
//						}
						/*存储当前的数据*/
						var thisState = {
							id: _id,
							/*pc渲染数据=>下标=> 编辑页面*/
							index: that.dataobj.length,
						}
						/*轮播图*/
						if(_id === 'rotation'){
							/*pc端页面渲染-data*/
							that.dataobj.push(thisState);
							/*APP页面渲染-data*/
							that.backData.push(that.roObj);
							console.log('传给后台数据',that.backData);
							return false;
						}
						/*搜索框*/
						if(_id === "search"){
							that.dataobj.push(thisState);
							that.backData.push(that.reObj);
							console.log('传给后台数据',that.backData);
							return false;
						}
                        /*按钮组*/
						if(_id === "bottons"){
							that.dataobj.push(thisState);
							that.backData.push(that.btnObj);
							console.log('传给后台数据',that.backData);
							return false;
						}
						
						
						
					},
					/*编辑对应的模板*/
					editMode(_index){
						console.log(_index);
						this.publiInd = _index;
					},					
					handleDragStart(e, item) {
						this.dragging = item;
					},
			
					
				},
			});
			
		</script>
	</body>

</html>