<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>客户_手动创建页面_给固定模板</title>
		<link rel="stylesheet" href="../../css/pc/public/public.css" />
		<!--<link rel="stylesheet" href="../../css/phone/public/swiper.min.css" />-->
		<link rel="stylesheet" href="../../css/pc/edit_index.css" />
		<link rel="stylesheet" href="">
	</head>
  <style>
 
  </style>
	<body>
		<div class="wrapper" id="edit_app_wrap">
			<div class="tab">
				<ul class="tabs clearfloat">
					<li class="active">
						<a href="" data-toggle="0">首页编辑</a>
					</li>
					<li>
						<a href="" data-toggle="1">分类</a>
					</li>
					<li>
						<a href="" data-toggle="2">购物车</a>
					</li>
					<li>
						<a href="" data-toggle="3">个人中心</a>
					</li>
				</ul>
			</div>
			<!--首页编辑-->
			<div class="content clearfloat">
				<!--left box-->
				<div class="left_box">
					<!--功能插件-->
					<div class="left_box_fun_box clearfloat">
						<p class="fun_box_top">功能插件</p>
						<div class="fun_box_content clearfloat">
							<!--项-->
							<p class="fun_box_content_term"  v-for="(v,i) in componentTerm" @click="comTremFun(v.id)">{{v.name}}</p>
						</div>
					</div>
				</div>
				<!--中间 box-->
				<div class="middle_box">
					<!--绝对定位=>设置图片，模拟手机-->
					<p class="phone_top"></p>
					<p class="phone_left"></p>
					<p class="phone_right"></p>
					<!--模拟手机的 wrap，背景图两边（img）-->
					<div class="html_wrpa">
						<!--水平居中-->
						<div class="html_box">
							<!--隐藏滚动条-->
							<div class="html_box_new">
								<!--拖拽-包着拖拽的div-->
								<div class="drag_box" v-for="(v,i) in backData"  
									draggable="true" 
									@dragstart="handleDragStart($event, v)" 
									@dragover.prevent="handleDragOver($event, v)" 
									@dragenter="handleDragEnter($event, v)" 
									@dragend="handleDragEnd($event, v)">
									<!--轮播图 box，拖拽的div-->
									<div class="modle_box" v-if="v.id == 'rotationId'? true:''" :key="v.id" @click="editMode(v.id,v.key_num)">
										<div class="slide">
											<div class="slide_item">
												<img  :src="v.data.imgUrl[0]" alt="" />
											</div>
											<div class="slide_but" :style="{'text-align':v.params.butPosition}">
												<!--第一个，模拟点击时颜色-->
												<span :class="v.params.butStyle" :style="{'background':v.params.clickColor}"></span>
												<span :class="v.params.butStyle" :style="{'background':v.params.butColor}"></span>
												<span :class="v.params.butStyle" :style="{'background':v.params.butColor}"></span>
											</div>
										</div>
										<div class="cursor_box remove_ele">
											<!--1、删除按钮，生成html=>删除(remove_ele)-->
											<p class="cursor_box_del" onclick="removerEle(this)">删除</p >
										</div>
									</div>
									
									<!--搜索模块 box，拖拽的div-->
									<div class="modle_box" v-if="v.id == 'searchId'? true:''" :key="v.id" @click="editMode(v.id,v.key_num)">
										<div class="search" :style="{'background':v.params.backColor}">
											<form action="#" :style="{'border-color':v.params.borderColor}" :class="v.params.reStyle">
												<input type="submit" class="searchBtn" value="">
												<input type="text" class="searchText" placeholder="搜索：输入关键字在店内搜索" :style="{'color':v.params.textColor}" v-model="v.data.tipeText">
											</form>
										</div>
									</div>
									<!-- 按钮组 拖拽div -->
									<div class="drag_box" v-if="v.id == 'bottonsId'? true:''" :key="v.id" @click="editMode(v.id,v.key_num)">
										<!--模块 box-->
										<div class="modle_box" v-if="v.id == 'bottonsId'? true:''" :key="v.id" @click="editMode(v.id,v.key_num)">
												<div class="modle_bottons rim-mod-select modle-mod "  style="background-color: rgb(255, 255, 255);" :style="{backgroundColor:v.params.iconColor}">
													<div   class="botton-scope" v-for="item in v.data.iconList" v-show="item.id!=5||v.params.iconNum!='25%'">
														<a :href="item.location">
															<div class="modle_mod_nav"  :style="{width: v.params.iconNum}">
																<div class="modle_mod_img">
																	<img   :src="item.url" style=" height: 39px;" :style="{borderRadius:v.params.iconStyle}">
																</div>
																<div class="modle_mod_text" :style="{color:item.siezColor}">{{item.text}}</div>
															</div>
															
													</a>
												</div>
											</div>
												<!--删除按钮 wrap-->
											<div class="cursor_wrap">
													<p class="cursor_box_del" @click.stop="delDataFun(i)">删除</p>
												</div>
												<!--选中-虚框-->
												<p class="border_line" :class="puStateObj['key_num'] == i ? 'border_box' : ''"></p>
											</div>
									</div>

									<!--标题模块 box，拖拽的div-->
									<div class="modle_box" v-if="v.id == 'titleId'? true:''" :key="v.id" @click="editMode(v.id,v.key_num)">
										<div class="title" :style="{textAlign:v.params.alignPosition,color:v.params.textColor,backgroundColor:v.params.bgColor}">
											<h2 :style="{fontSize:v.params.fontSize}">{{v.data.title}}</h2>
											<h4 :class="{hide:v.data.subTitleState == 0}" :style="{fontSize:v.params.subfontSize}">{{v.data.subTitle}}</h4>
										</div>
									</div>
									
								</div>
								
							</div>
							<!--隐藏滚动条-->
							
						</div>
					</div>
					<!--模拟手机的 wrap，背景图两边（img）-->
					<p class="phone_bottom"></p>
				</div>
				<!--编辑模板 box-->
				<div class="right_box">
					<!-- 轮播图--编辑 -->
					<div class="edit_modle" v-show="puStateObj['id'] == 'rotationId'">
						<div class="edit_slide">
							<div class="slide_title">轮播设置</div>
							<div class="edit_slide_content">
								<span class="edit_slide_content_title">按钮形状</span>										
								<label class="edit_slide_content_label"><input type="radio" v-model="backData[puStateObj['key_num']].params.butStyle" value="rectangle">长方形</label>
								<label class="edit_slide_content_label"><input type="radio" v-model="backData[puStateObj['key_num']].params.butStyle" value="square">正方形</label>
								<label class="edit_slide_content_label"><input type="radio" v-model="backData[puStateObj['key_num']].params.butStyle" value="roundness">圆形</label>
							</div>
							<div class="edit_slide_content">
								<span class="edit_slide_content_title">按钮位置</span>
								<label class="edit_slide_content_label"><input type="radio" v-model="backData[puStateObj['key_num']].params.butPosition" value="left">按钮居左</label>
								<label class="edit_slide_content_label"><input type="radio" v-model="backData[puStateObj['key_num']].params.butPosition" value="center">按钮居中</label>
								<label class="edit_slide_content_label"><input type="radio" v-model="backData[puStateObj['key_num']].params.butPosition" value="right">按钮居右</label>

							</div>
							<div class="edit_slide_content">
								<span class="edit_slide_content_title">按钮背景颜色</span>
								<input type="color" v-model="backData[puStateObj['key_num']].params.butColor" value="backData[puStateObj['key_num']].params.butColor">
							</div>
							<div class="edit_slide_content">
								<span class="edit_slide_content_title">按钮点击颜色</span>
								<input type="color" v-model="backData[puStateObj['key_num']].params.clickColor" value="backData[puStateObj['key_num']].params.clickColor">
							</div>
							
						</div>		
					</div>
					
					<!-- 搜索编辑 -->
					<div class="edit_modle" v-show="puStateObj['id'] == 'searchId'">
						<!-- 编辑模板 -->
						<div class="edit_search">
							<div class="editor_icon"></div>
							<div class="editor_title">搜索框设置</div>
		
							<div class="editor_line">
								<div class="editor_name">提示文字</div>
								<div class="editor_con">
									<input class="editor_input1" placeholder="搜索框默认提示文字，超出屏幕宽度将自动隐藏"  v-model="backData[puStateObj['key_num']].data.tipeText">
								</div>
							</div>
		
							<div class="editor_line">
								<div class="editor_name">选择样式</div>
								<div class="editor_con">
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.reStyle" value="style1"> 样式一</label>
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.reStyle" value="style2"> 样式二</label>
								</div>
							</div>
		
							<div class="editor_line">
								<div class="editor_name">文字颜色</div>
								<div class="editor_con">
									<input class="editor_input2" type="color" v-model="backData[puStateObj['key_num']].params.textColor">
									<span class="tips">提示: 输入文字颜色</span>
								</div>
							</div>
		
							<div class="editor_line">
								<div class="editor_name">边框颜色</div>
								<div class="editor_con">
									<input class="editor_input2" type="color" v-model="backData[puStateObj['key_num']].params.borderColor">
								</div>
							</div>
		
							<div class="editor_line">
								<div class="editor_name">背景颜色</div>
								<div class="editor_con">
									<input class="editor_input2" type="color" v-model="backData[puStateObj['key_num']].params.backColor">
								</div>
							</div>
						</div>
					</div>

					<!-- 标题 -->
					<div class="edit_modle" v-show="puStateObj['id'] == 'titleId'">
						<!-- 编辑模板 -->
						<div class="edit_title">
							<div class="editor_icon"></div>
							<div class="editor_title">标题设置</div>
		
							<div class="editor_line">
								<div class="editor_name">主标题内容</div>
								<div class="editor_con">
									<input class="editor_input1" placeholder="标题模块的主标题，超出屏幕宽度将自动隐藏" v-model="backData[puStateObj['key_num']].data.title1" @keyup="changTitle">
								</div>
							</div>
		
							<div class="editor_line">
								<div class="editor_name">主标题大小</div>
								<div class="editor_con">
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.fontSize" value="12px">12像素</label>
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.fontSize" value="14px">14像素</label>
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.fontSize" value="16px">16像素</label>
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.fontSize" value="18px">18像素</label>
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.fontSize" value="20px">20像素</label>
									<label>自定义：<input class="editor_input2" style="line-height:20px" v-model="backData[puStateObj['key_num']].params.fontSize"></label>
								</div>
							</div>
		
							<div class="editor_line">
								<div class="editor_name">显示副标题</div>
								<div class="editor_con">
									<label><input type="radio" value="1" v-model="backData[puStateObj['key_num']].data.subTitleState">显示</label>
									<label><input type="radio" value="0" v-model="backData[puStateObj['key_num']].data.subTitleState">不显示</label>
								</div>
							</div>
		
							<div class="editor_line" v-show="backData[puStateObj['key_num']].data.subTitleState == 1">
								<div class="editor_name">副标题内容</div>
								<div class="editor_con">
									<input class="editor_input1" placeholder="标题模块的副标题，超出屏幕宽度将自动隐藏"  v-model="backData[puStateObj['key_num']].data.subTitle1" @keyup="changsubTitle">
								</div>
							</div>
		
							<div class="editor_line" v-show="backData[puStateObj['key_num']].data.subTitleState == 1">
								<div class="editor_name">副标题大小</div>
								<div class="editor_con">
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.subfontSize" value="12px">12像素</label>
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.subfontSize" value="14px">14像素</label>
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.subfontSize" value="16px">16像素</label>
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.subfontSize" value="18px">18像素</label>
									<label><input type="radio" v-model="backData[puStateObj['key_num']].params.subfontSize" value="20px">20像素</label>
									<label>自定义：<input class="editor_input2" style="line-height:20px" v-model="backData[puStateObj['key_num']].params.subfontSize"></label>
								</div>
							</div>

							<div class="editor_line">
								<div class="editor_name">对齐方向</div>
								<div class="editor_con">
									<label><input type="radio" value="left" v-model="backData[puStateObj['key_num']].params.alignPosition">居左</label>
									<label><input type="radio" value="center" v-model="backData[puStateObj['key_num']].params.alignPosition">居中</label>
									<label><input type="radio" value="right" v-model="backData[puStateObj['key_num']].params.alignPosition">居右</label>
								</div>
							</div>

							<div class="editor_line">
								<div class="editor_name">文字颜色</div>
								<div class="editor_con">
									<input class="editor_input2" type="color" v-model="backData[puStateObj['key_num']].params.textColor">
								</div>
							</div>

							<div class="editor_line">
								<div class="editor_name">背景颜色</div>
								<div class="editor_con">
									<input class="editor_input2" type="color" v-model="backData[puStateObj['key_num']].params.bgColor">
								</div>
							</div>
									
						</div>
					</div>

					<div class="edit_modle" v-show="puStateObj['id'] == 'bottonsId'">
							<div  class="v-scope"><div class="ve-panel-editor-title ">按钮组设置<span class="tips">Tips:图片必须是正方形或者正圆形</span></div>
								  <div class="ve-panel-editor-line ng-scope clearfloat">
										  <div class="ve-panel-editor-name">图标样式</div>
										  <div class="ve-panel-editor-con" >
												  <label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="M1555639821352_style" v-model="backData[puStateObj['key_num']].params.iconStyle" value="0"  class="ve-pristine ve-untouched ve-valid"> 正方形</label>
												  <label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="M1555639821352_style" v-model="backData[puStateObj['key_num']].params.iconStyle" value="100%"  class="ve-pristine ve-untouched ve-valid"> 圆形</label>
										  </div>
								  </div>
								  <div class="fe-panel-editor-line ng-scope clearfloat">
										  <div class="ve-panel-editor-name">按钮数量</div>
										  <div class="ve-panel-editor-con">
												  <label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="M1555639821352_num" value="25%" v-model="backData[puStateObj['key_num']].params.iconNum" class="ve-pristine ve-untouched ve-valid"> 四个按钮</label>
												  <label style="cursor:pointer; margin-right: 10px;"><input type="radio" name="M1555639821352_num" value="20%" v-model="backData[puStateObj['key_num']].params.iconNum" class="ve-pristine ve-untouched ve-valid"> 五个按钮</label>
										  </div>
								  </div>
								  <div class="ve-panel-editor-line ng-scope clearfloat">
										  <div class="ve-panel-editor-name">背景颜色</div>
										  <div class="ve-panel-editor-con">
												  <input class="ve-panel-editor-input2 ve-pristine ve-untouched ve-valid" type="color" v-model="backData[puStateObj['key_num']].params.iconColor">
										  </div>
								  </div>
								  <div v-for="(item,index) in backData[puStateObj['key_num']].data.iconList"  class="ve-scope" v-show="item.id!=5||backData[puStateObj['key_num']].params.iconNum!='25%'">
										  <div class="ve-panel-editor-line2">
												  <div class="ve-panel-editor-goodimg"  style="height:120px; width:110px;">
														  <img :src="item.url" width="100%" height="100%" :class="{hide:ishide}">
														  <div class="ve-panel-editor-goodimg-t1"  style="line-height:120px;"  @click="upload(index)">
															  <i class="fa fa-plus-circle"></i> 选择图片</div>
														  <div class="ve-panel-editor-goodimg-t2 "  style="width:110px;" :class="{hide:ishide}">重新选择图片</div>
												  </div>
												  <div class="ve-panel-editor-line2-right">
														  <div class="ve-panel-editor-line">
																  <div class="ve-panel-editor-name">按钮文字</div>
																  <div class="ve-panel-editor-con">
																		  <input class="ve-panel-editor-input1 ve-pristine ve-valid ve-touched" style="width:256px;" value="" v-model="item.texts" placeholder="请填写按钮文字" @keyup="text(index,item)">
																  </div>
														  </div>
														  <div class="ve-panel-editor-line">
																  <div class="ve-panel-editor-name">链接地址</div>
																  <div class="ve-panel-editor-con">
																		  <input class="ve-panel-editor-input3 ve-pristine ve-valid ve-touched" value=""  placeholder="请手动输入链接(请以http://开头)或选择系统链接" style="width:175px;" @keyup="imgA(index,item.id)" v-model="item.newLoc">
																		  <div class="ve-panel-editor-input4" >系统连接</div>
																  </div>
														  </div>
														  <div class="ve-panel-editor-line">
																  <div class="ve-panel-editor-name">文字颜色</div>
																  <div class="ve-panel-editor-con">
																		  <input class="ve-panel-editor-input2 ve-pristine ve-untouched ve-valid" type="color" v-model="item.siezColor" >
																  </div>
														  </div>
												  </div>
										  </div>
								  </div>
						  </div>
						 </div>

				</div>
			</div>
			<!-- 分类 -->
			<div class="content clearfloat" style="display:none">
				<!--中间 box-->
				<div class="middle_box">
					<!--绝对定位=>设置图片，模拟手机-->
					<p class="phone_top"></p>
					<p class="phone_left"></p>
					<p class="phone_right"></p>
					<!--模拟手机的 wrap，背景图两边（img）-->
					<div class="html_wrpa">
						<!--水平居中-->
						<div class="html_box">
							<iframe src="../phone/classify/classify.html"></iframe>
						</div>
					</div>
					<p class="phone_bottom"></p>
				</div>
			</div>
			<!-- 购物车 -->
			<div class="content clearfloat" style="display:none">
				<!--中间 box-->
				<div class="middle_box">
					<!--绝对定位=>设置图片，模拟手机-->
					<p class="phone_top"></p>
					<p class="phone_left"></p>
					<p class="phone_right"></p>
					<!--模拟手机的 wrap，背景图两边（img）-->
					<div class="html_wrpa">
						<!--水平居中-->
						<div class="html_box">
							<!--隐藏滚动条-->
							<!--<div class="html_box_new"">-->
							<iframe class="html_box_new" src="../phone/shopping_cart/shopping_cart.html" frameborder="0"></iframe>
							<!--</div>-->
						</div>
					</div>
					<p class="phone_bottom"></p>
				</div>
			</div>
			<!-- 个人中心 -->
			<div class="content clearfloat" style="display:none">
				<!--中间 box-->
				<div class="middle_box">
					<!--绝对定位=>设置图片，模拟手机-->
					<p class="phone_top"></p>
					<p class="phone_left"></p>
					<p class="phone_right"></p>
					<!--模拟手机的 wrap，背景图两边（img）-->
					<div class="html_wrpa">
						<!--水平居中-->
						<div class="html_box" style="overflow: hidden;">
							<!--隐藏滚动条-->
								<iframe class="html_box_new" src="../phone/my/user.html"></iframe>
						</div>
					</div>
				
					<p class="phone_bottom"></p>
				</div>
			</div>
			
			<!--底部 wrap-->
			<div class="bottom_wrap">
				<p class="bottom_wrap_deposit hover_box" @click="depositFun()">保存模板</p>
			</div>
				<!-- 按钮上传图片 -->
				<div  v-if="popup" style=" width: 450px; height: 300px; position: absolute; z-index: 811213; left: 624px; top: 220px;" class="ke-dialog-default ke-dialog">
						<div class="ke-dialog-content">
							<div class="ke-dialog-header">图片
								<span class="ke-dialog-icon-close" title="关闭" @click="closePopup()"></span>
							</div>
							<div class="ke-dialog-body" style="height: 238px;">
								<div style="padding:20px;">
									<div style="display:block;" class="ke-tabs">
										<ul class="ke-tabs-ul clearfloat">
											<li class="ke-tabs-li" @click="liSelected($event)"  :data-index="1"  :class="{selected:inpop==1}">网络图片</li>
											<li class="ke-tabs-li"  @click="liSelected($event)" :data-index="2"  :class="{selected:inpop==2}">本地上传</li>
										</ul>
									</div>
									<div class="tab1" v-show="inpop==1">
										<div class="ke-dialog-row">
											<label for="remoteUrl" style="width:60px;">图片地址</label>
											<input type="text" id="remoteUrl" class="ke-input-text" name="url" value="" style="width:200px;" v-model="imgUrlw"> &nbsp;
											<span class="ke-button-common ke-button-outer">
												<input type="button" class="ke-button-common ke-button" name="viewServer" value="图片空间">
											</span>
										</div>
											<div class="ke-dialog-row">
												<label for="remoteTitle" style="width:60px;">图片说明</label>
												<input type="text" id="remoteTitle" class="ke-input-text" name="title" value="" style="width:200px;">
											</div>
										</div>
										<div class="tab2" v-show="inpop==2">
											<iframe name="kindeditor_upload_iframe_1555924276500" style="display:none;">
											</iframe>
											<form class="ke-upload-area ke-form" method="post" enctype="multipart/form-data" target="kindeditor_upload_iframe_1555924276500" action="/member/upload_json.php?TableField=web_article&amp;dir=image">
												<div class="ke-dialog-row"><label style="width:60px;">上传文件</label>
													<input type="text" name="localUrl" class="ke-input-text" tabindex="-1" style="width:200px;" readonly="true"> &nbsp;<div class="ke-inline-block ke-upload-button"><div class="ke-upload-area">
														<span class="ke-button-common"><input type="button" class="ke-button-common ke-button" value="浏览..."></span>
														<input type="file" class="ke-upload-file" name="imgFile" tabindex="-1" style="width: 60px;" @change="uploadImg">
													</div>
												</div>
												<input type="button" class="ke-upload-button" value="浏览..." style="display: none;">
													</div>
												</form>
											</div>
										</div>
									</div>
									<div class="ke-dialog-footer">
										<span class="ke-button-common ke-button-outer ke-dialog-yes" title="确定" @click="Urlw()">
											<input class="ke-button-common ke-button" type="button" value="确定">
										</span>
										<span class="ke-button-common ke-button-outer ke-dialog-no" title="取消">
											<input class="ke-button-common ke-button" type="button" value="取消" @click="closePopup()">
										</span>
									</div>
								</div>
										<div class="ke-dialog-shadow"></div>
									</div>
				<div  v-if="popup" style=" width: 1697px; height: 2154px; position: absolute; left: 0px; top: 0px; z-index: 811212;" class="ke-dialog-mask"></div>
		</div>

		<script src="../../js/pc/public/jquery-1.8.3.js"></script>
		<!--public的js-->
		<!--<script src="../../js/pc/edit_index.js"></script>-->
		
		<script>
			$(document).ready(function() {

				// tba切换
				$(".tabs>li>a").click(function(e) {
					e.preventDefault();
					var $tar = $(e.target);
					var index = $tar.attr('data-toggle')
					if($tar.is("[data-toggle]")) {
						$tar.parent().addClass('active').siblings().removeClass('active')
						$('.wrapper').children('.content').eq(index).show().siblings('.content').hide()
					}
				})

			})
		</script>
		<script src="../../js/pc/public/vue.js"></script>
		<script>
			// 深克隆，把引用数据类型的，分解成基础类型（克隆）
			// 第一个参数是数据，第二参数是数组或对象(想转换的类型)
			function clones(_type, _memory){
				var newMemory = null;
				// 判断传过来的数据类型
				if(_type instanceof Array) {
					newMemory = _memory || [];
				} else {
					newMemory = _memory || {};
				}
				for(var x in _type) {
					//引用数据类型的 typeof为 object
					if(typeof _type[x] == "object") {
						newMemory[x] = (_type[x].constructor == Array) ? [] : {};
						clones(_type[x], newMemory[x]); //递归
					} else {
						// 数据赋值
						newMemory[x] = _type[x];
					}
				}
				return newMemory;
			}
			
			var newVue = new Vue({
				el: "#edit_app_wrap",
				data: {			
					// 按钮组上传图片状态
					popup:false,
					// 按钮组tab切换
					inpop:1,
					// 图片路径
					imgUrlw:"",
					// 按钮图片id
					imgId:"",
					// 图片显示状态
					ishide:true,		
					/*组件-选项*/
					componentTerm: [
						{name:"轮播",id:'rotationId'},
						{name:"搜索框",id:'searchId'},
						{name:"按钮组",id:'bottonsId'},
						{name:"店招",id:'signageId'},
						{name:"商品组",id:'productListId'},
						{name:"公告",id:'noticeId'},
						{name:"辅助空白",id:'blankId'},
						{name:"广告",id:'bannerId'},
						{name:'标题',id:'titleId'}
					],
					
					/*拖拽需要的元素*/
					dragging: null,
					/**
					 * 公共-对应显示-模板编辑;
					 * id:判断模块；
					 * key_num:判断-模块在页面的排序
					 * **/
					puStateObj: {
						id: null,
						/*初始化*/
						key_num: 0,
					},
					/* 页面渲染data || 传个后台-data ，对象形式*/
					backData: [
						/**初始化=>生产对应组件=>删除第一条数据array[0]。
						 * 如果，编辑页面=>先删除-下面的数据。
						 * **/
						{
							params:{},
							data:{}
						},
					],
					/*轮播图，数据初始化*/
					roObj:{
						/**组件id*/
						id:"rotationId",
						/**组件名*/
						temp:"rotation",
						/*页面渲染-组件位置，从0开始*/
						key_num: null,
						/**组件style*/
						params:{									
							/*'rectangle' =>长方形，'square' =>正方形，'roundness'=>圆形*/
							butStyle: 'rectangle',
							/*'left'=>左，'center'=>中间，'right'=>右*/
							butPosition: 'center',
							/*按钮背景颜色，必须是16进制的色值，不能简写*/
							butColor: '#000000',	
							/*按钮点击时的颜色，必须是16进制的色值，不能简写*/
							clickColor: '#f5f5f5',
						},
						data:{
							/*轮播的图片路径*/
							imgUrl:[
								'../../img/0005.png',
								'../../img/0005.png',
								'../../img/0005.png',	
							],
						},
					},
					/*搜索框，数据初始化*/
					seObj: {
						/**组件id*/
						id:"searchId",
						/**组件名*/
						temp:"search",
						/*页面渲染-组件位置，从0开始*/
						key_num: null,
						/**组件style*/
						params:{									
							/*0=>样式一，1=>样式二*/
							reStyle: 'style1',
							/*文字颜色*/
							textColor: '',
							/*边框颜色*/
							borderColor: '',
							/*背景颜色*/
							backColor: '',
						},
						data:{
							/*提示文字*/
							tipeText: '搜索：输入关键字在店内搜索',
						},
					},
					// 按钮组，数据初始化
					boObj: {
						/*id*/
						id:"bottonsId",
						temp:'bottons',
						key_num: null,
						params:{
							/*图标样式*/
							iconStyle: 0,
							/*0=>样式一，1=>样式二*/
							iconNum: '20%',
							/*背景颜色*/
							iconColor: '',
							data:{
							iconList:[
								{id:'1',text:'按钮文字',texts:"",location:'javascript:;',url:'../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg',siezColor:'',newLoc:'',},
								{id:'2',text:'按钮文字',texts:"",location:'javascript:;',url:'../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg',siezColor:'',newLoc:'',},
								{id:'3',text:'按钮文字',texts:"",location:'javascript:;',url:'../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg',siezColor:'',newLoc:'',},
								{id:'4',text:'按钮文字',texts:"",location:'javascript:;',url:'../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg',siezColor:'',newLoc:'',},
								{id:'5',text:'按钮文字',texts:"",location:'javascript:;',url:'../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg',siezColor:'',newLoc:'',}
							]	
						}	
						}
					},

					// 标题，数据初始化
					titObj: {
						// 组件id
						id:"titleId",
						// 组件名
						temp:"title",
						// 页面渲染-组件位置，从0开始
						key_num: null,
						// 组件style
						params:{									
							//主标题大小
							fontSize: '18px',
							// 文字颜色
							subfontSize:'14px',
							// 对齐方向
							alignPosition: 'left',
							// 文字颜色
							textColor: '',
							// 背景颜色
							bgColor: '',
						},
						data:{
							// 主标题
							title: '主标题',
							title1:'',
							// 副标题
							subTitle:'副标题',
							subTitle1:'',
							// 是否显示副标题
							subTitleState:'1'

						},
					}
			
				},
				methods: {
					/*<< 拖拽*/
					handleDragStart(e, item) {
						this.dragging = item;
					},
					handleDragEnd(e, item) {
						this.dragging = null
					},
					//首先把div变成可以放置的元素，即重写dragenter/dragover
					handleDragOver(e) {
						e.dataTransfer.dropEffect = 'move' // e.dataTransfer.dropEffect="move";//在dragenter中针对放置目标来设置!
					},
					handleDragEnter(e, item) {
						e.dataTransfer.effectAllowed = "move" //为需要移动的元素设置dragstart事件
						if(item === this.dragging) {
							return
						}
						/*pc数据渲染的data*/
						const newItems = [...this.backData]
						const src = newItems.indexOf(this.dragging)
						const dst = newItems.indexOf(item)

						newItems.splice(dst, 0, ...newItems.splice(src, 1));
						/*重置--pc数据渲染的data*/
						this.backData = newItems;
						console.log('传-后台=>"拖拽" ',this.backData);
					},
					/* 拖拽 >>*/
					/*组件选项-按钮*/
					comTremFun(_id){
						var that = this;
						/*轮播图*/
						if(_id === 'rotationId'){
							/*赋值对应的模块=>页面位置key_num*/
							that.roObj['key_num'] = that.backData.length;
							/*深克隆=>页面渲染-data*/
							that.backData.push(clones(that.roObj));
							//console.log(that.backData[0]['id']);
							/**(一次性)--删除-backData[0]的初始数据(用来双向绑定)
							 * 该函数-'最后'执行的语句;
							 * **/
							if(that.backData[0]['id'] == undefined){
								that.backData.shift();
								that.backData[0]['key_num'] = 0;
								console.log('清除掉-无用的值（数据双向绑定！）！');
							}
							console.log('传给后台数据',that.backData);
							return false;
							
						}
						/*搜索框*/
						if(_id === "searchId"){
							that.seObj['key_num'] = that.backData.length;
							that.backData.push(clones(that.seObj));
							/*改if语句-放在最后*/
							if(that.backData[0]['id'] == undefined){
								that.backData.shift();
								that.backData[0]['key_num'] = 0;
								console.log('清除掉-无用的值（数据双向绑定！）！');
							}
							return false;
						}
						/*按钮组*/
						if(_id === "bottonsId"){
							that.boObj['key_num'] = that.backData.length;
							that.backData.push(clones(that.boObj));
							/*改if语句-放在最后*/
							if(that.backData[0]['id'] == undefined){
								that.backData.shift();
								that.backData[0]['key_num'] = 0;
								console.log('清除掉-无用的值（数据双向绑定！）！');
							}
							return false;
						}
						// 标题
						if(_id === "titleId"){
							that.titObj['key_num'] = that.backData.length;
							that.backData.push(clones(that.titObj));
							/*改if语句-放在最后*/
							if(that.backData[0]['id'] == undefined){
								that.backData.shift();
								that.backData[0]['key_num'] = 0;
								console.log('清除掉-无用的值（数据双向绑定！）！');
							}
							return false;
						}
												
					},// 按钮组文字
					text(index,id){
                        //输入的时候 把当前的内容换成更换后的
						if(!this.backData[this.puStateObj.key_num].data.iconList[index].texts==""){
							this.backData[this.puStateObj.key_num].data.iconList[index].text=this.backData[this.puStateObj.key_num].data.iconList[index].texts;
						}else{
							this.backData[this.puStateObj.key_num].data.iconList[index].text='按钮文字'
						}
					},
					//图片跳转
					imgA(index,id){
                        //输入的时候 把当前的内容换成更换后的
						if(!this.backData[this.puStateObj.key_num].data.iconList[index].texts==""){
							this.backData[this.puStateObj.key_num].data.iconList[index].location=this.backData[this.puStateObj.key_num].data.iconList[index].newLoc;
						}else{
							this.backData[this.puStateObj.key_num].data.iconList[index].text='javascript:;'
						}
					},
					//按钮上传图片
					upload(index){
						  this.imgIndex = index;
						  this.popup=true;
					},
					//关闭按钮上传图片
					closePopup(){
						  this.popup=false;
					},
					//上传图片tab切换
					liSelected(e){
						this.inpop = e.target.dataset.index
					},
					//上传图片路径
					Urlw(){
								//输入的时候 把当前的内容换成更换后的
								if(!this.backData[this.puStateObj.key_num].data.iconList[this.imgIndex].url==""){
									this.backData[this.puStateObj.key_num].data.iconList[this.imgIndex].url=this.imgUrlw;
									this.ishide=false
									this.imgUrlw==''
								}else{
									this.backData[this.puStateObj.key_num].data.iconList[this.imgIndex].text='../../img/pc/phone/d058ccbf6c81800aedd20eb5b43533fa828b4752.jpg'
									this.ishide=true
								}
								this.popup=false;
					},//按钮图片本地上传
					uploadImg(e){
						
					},
					//输入的时候 把当前的主标题换成更换后的主标题
					changTitle(){    
						if( this.backData[this.puStateObj.key_num].data.title1 !== ''){
							this.backData[this.puStateObj.key_num].data.title = this.backData[this.puStateObj.key_num].data.title1;
						}else{
							this.backData[this.puStateObj.key_num].data.title = '主标题'
						}
						
					},
					//输入的时候 把当前的副标题换成更换后的副标题
					changsubTitle(){   
						if( this.backData[this.puStateObj.key_num].data.subTitle1 !== ''){
							this.backData[this.puStateObj.key_num].data.subTitle = this.backData[this.puStateObj.key_num].data.subTitle1;
						}else{
							this.backData[this.puStateObj.key_num].data.subTitle = '主标题'
						} 
					},


					/*编辑对应的模板*/
					editMode(_id,_key){
						console.log('点击对应模板:',_id,_key);
						this.puStateObj = {
							id: _id,
							key_num: _key
						}
						console.log('对应的模板：',this.puStateObj);
					},	
					/*保存-模板*/
					depositFun(){
						console.log('保存模板！！',this.backData);
					}

					
				},
				
			});
			
		</script>
	</body>

</html>