/*最外边框*/
.wrapper {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0 auto;
	/*width: 100%;*/
	width: 1200px;
	height: 100vh;
	border: 1px solid #d6d6d8;
	/*overflow-y: scroll;*/
}

/*清除浮动代码 '父元素'*/
.clearfloat:after{
	display: block;
	clear: both;
	content:" ";
	visibility: hidden;
	height: 0;
}
.clearfloat{
	zoom: 1;
}

/*内容*/
.content {
	padding-left: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: auto;
	background: #f5f5f5;
}
/*左 box*/
.left_box {
	float: left;
	padding-top: 60px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 300px;
	height: auto;
}
.left_box_fun_box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 96%;
	height: auto;
	border: 1px solid #d6d6d8;
}
.fun_box_top {
	padding-left: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 55px;
	line-height: 55px;
	
	background: -moz-linear-gradient(top, #fff 0%, #dddce1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dddce1));
	background: -webkit-linear-gradient(top, #fff 0%, #dddce1 100%);
	background: -o-linear-gradient(top, #fff 0%, #dddce1 100%);
	background: -ms-linear-gradient(top, #fff 0%, #dddce1 100%);
}
.fun_box_content {
	padding-left: 7px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: auto;
}
.fun_box_content_term {
	float: left;
	margin: 6px 0 6px 13px;
	width: 82px;
	height: 82px;
	font-size: 14px;
	line-height: 82px;
	border-radius: 6px;
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
	background-color: #418bca;
}
.fun_box_content_term:nth-child(3n+1) {
	margin-left: 0;
}
/*鼠标悬浮*/
.fun_box_content_term:hover {
	cursor: pointer;
	background-color: #3378b3;
}
/*中间 box*/
.middle_box {
	position: relative;
	float: left;
	margin-left: 15px;
	padding-top: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 372px;
	/*min-height: 600px;*/
	height: auto;
	
}
/*另外一个页面显示 wrap*/
.html_wrpa {
	width: 100%;
	height: auto;
    background: url(../../img/pc/phone/phone_center.png) 0 0 repeat-y;
}
/*另外一个页面显示 box*/
.html_box {
	margin: 0 auto;
	/*加多342px+17px的滚动条*/
	width: 342px;
	height: 600px;
	overflow: hidden;
	background-color: #fff; 
}
/*隐藏滚动条*/
.html_box_new {
	/*加多17px的滚动条*/
	width: 359px;
	height: 100%;
	overflow-y: scroll;
}
/*模拟手机*/
.phone_top {
	width: 100%;
	height: 83px;
    background: url(../../img/pc/phone/phone_top.png) 0 0 no-repeat;
}
.phone_left {
	position: absolute;
	top: 16px;
	left: -5px;
	z-index: 1;
	height: 293px;
    width: 5px;
    background: url(../../img/pc/phone/phone_left.png) 0px 88px no-repeat;
}
.phone_right {
	position: absolute;
	top: 16px;
	right: -6px;
	z-index: 1;
	height: 220px;
    width: 6px;
    background: url(../../img/pc/phone/phone_right.png) 0px 158px no-repeat;
    float: left;
}
.phone_bottom {
	height: 92px;
    width: 372px;
    background: url(../../img/pc/phone/phone_bottom.png) 0 0 no-repeat;
}
/*右 box*/
.right_box {
	float: left;
	margin:90px 0 0 20px;
	width: 480px;
	height: auto;
	padding:10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color:#171717;
	background: #fff;
}
/*包裹 传给后台style*/
#wrap_new {
	/*position: relative;*/
	width: 100%;
	height: auto;
}
/*鼠标悬浮 删除 wrap*/
.cursor_wrap {
	position: relative;
	width: 100%;
	height: auto;
}
/*鼠标悬浮 删除 box*/
.cursor_box {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: auto;
	background-color: rgba(0,0,0,.3);
}

/* 删除按钮*/
.cursor_box_del {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 14%;
	height: auto;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2px;
}
.cursor_box_del:hover {
	cursor: pointer;
}

/*Tab切换*/
iframe{
	width:100%;
	height:100%;
	border: 0;
}

.tab{
	width: 100%;
	position: relative;
}
.tabs a{
	text-decoration:none;
	color:#000;
	width:100px; height:40px; 
	line-height:40px; text-align:center;
	display:inline-block;
}
.tabs {
 z-index: 100;
}
.tabs>li{
  float:left;
  width: 25%;
	border-bottom:1px solid #000;
	text-align: center;
}
.tabs .active>a{
	color: #fff;
}
.tabs .active{
    letter-spacing: 1px;
    background-color: #418bca;
}


.drag_box{
	cursor: move;
}
	
/* 轮播图 slide */
.slide{
	position: relative;
	width:100%;
	height:150px;
}
.slide .left{
	text-align: left;
}
.slide .center{
	text-align: center;
}
.slide .right{
	text-align: right;
}
.slide_item,.slide_item>img{
	display:block;
	width:100%;
	height: 100%;
}
.slide_but{
	position: absolute;
	left:0;
	bottom: 0;
	width:100%;
	height:20px;
	line-height: 20px;
	text-align: center;
	padding:0 10px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.slide_but>span{
	display:inline-block;
	background: black;
	opacity: .5;
}
/* 矩形按钮 */
.slide_but .rectangle{
	width:20px;
	height:10px;
}
/* 方形按钮 */
.slide_but .square{
	width:10px;
	height:10px;
}
/* 圆形按钮 */
.slide_but .roundness{
	width:10px;
	height:10px;
	border-radius:50%;
}
/* botton */
.modle_bottons {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    overflow: hidden;
}


.modle_mod {
    height: auto;
    border: 2px dashed rgba(0,0,0,0);
    position: relative;
}

.modle_mod_nav {
    height: auto;
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modle_mod_img {
    height: auto;
    margin: 0px 12px;
}

.modle_mod_img img {
    width: 100%;
    border-radius: 0%;
}

.modle_mod_text {
    height: 20px;
    line-height: 25px;
    text-align: center;
    color: #999;
    font-size: 12px;
    overflow: hidden;
}
/* 按钮图片 圆形样式 */
.modle_mod_garden{
	border-radius: 100%;
}

/* 按钮编辑 */
.ve-panel-editor-title {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #999;
    border-bottom: 1px dashed #ccc;
    padding-left: 5px;
}

.ve-panel-editor-line {
    min-height: 40px;
    overflow: hidden;
}

.ve-panel-editor-name {
    height: 40px;
    width: 90px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #999;
    float: left;
}

.ve-panel-editor-con {
    min-height: 40px;
    float: left;
    line-height: 40px;
    color: #999;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    content: "...";
}

.ve-panel-editor-input1 {
    height: 30px;
    width: 545px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 4px;
    line-height: 30px;
    color: #aaa;
    outline: none;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
}

.ve-panel-editor-input2 {
    height: 30px;
    width: 70px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 4px;
    line-height: 30px;
    color: #aaa;
    outline: none;
}

.ve-panel-editor-input3 {
    height: 30px;
    width: 320px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 3px 0px 0px 3px;
    margin-top: 4px;
    line-height: 30px;
    color: #aaa;
    outline: none;
    float: left;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
}

.ve-panel-editor-input4 {
    height: 30px;
    width: 80px;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    border-left: 0px;
    border-radius: 0px 3px 3px 0px;
    margin-top: 4px;
    line-height: 30px;
    color: #aaa;
    outline: none;
    float: left;
    cursor: pointer;
}

.ve-panel-editor .tips {
    font-size: 12px;
    margin-left: 10px;
}

.ve-panel-editor-line2 {
    min-height: 100px;
    overflow: hidden;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
}

.ve-panel-editor-goodimg {
    min-height: 40px;
    width: 138px;
    border: 1px solid #ccc;
    float: left;
    position: relative;
    background: #fff;
    cursor: pointer;
}

.ve-panel-editor-goodimg-t1 {
    line-height: 78px;
    font-size: 16px;
    text-align: center;
    color: #999;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.ve-panel-editor-goodimg-t2 {
    height: 26px;
    width: 136px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    color: #fff;
}

.ve-panel-editor-line2-right {
    min-height: 80px;
    width: 356px;
    float: left;
}

/* botton */
/* 轮播图--编辑 */
.slide_title{
	height: 30px;
	font-size: 16px;
	line-height: 30px;
	border-bottom: 1px dashed #000;
}
.edit_slide_content{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 40px;
	line-height: 40px;
}
.edit_slide_content>input{
	border: 0;
	padding: 3px 10px;
	border-radius: 4px;
}
.edit_slide_content_title{
	display:inline-block;
	width:20%;
	text-align: left;
}
.edit_slide_content_label{
	margin-right: 15px;
}
.edit_slide_content_label input{
	margin-right: 5px;
	vertical-align: middle;
}
.edit_slide_content_button {
	width: 20%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 6px;
	color: #fff;
	letter-spacing: 2px;
	background-color: #418bca;
}
.edit_slide_content_padding {
	padding-top: 10px;
}
.edit_slide_content_button:hover {
	cursor: pointer;
}
/*public*/
/* 公共边框 */
.mod_select {
	border: 2px dashed #6c9;
}