/*最外边框*/

.wrapper {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin: 0 auto;
	/*width: 100%;*/
	width: 1338px;
	height: 100vh;
	border: 1px solid #d6d6d8;
	/*overflow-y: scroll;*/
}


/*public*/


/*清除浮动代码 '父元素'*/

.clearfloat:after {
	display: block;
	clear: both;
	content: " ";
	visibility: hidden;
	height: 0;
}

.clearfloat {
	zoom: 1;
}

/*鼠标悬浮*/
.hover_box:hover {
	cursor: pointer;
}
/*边框盒子*/
.border_line {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.border_box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 1px dashed #333;
}


/* 公共边框 */

.mod_select {
	border: 2px dashed #6c9;
}
.tips {
	margin-left: 10px;
	color: red;
	font-size: 14px;
}

/*内容*/

.content {
	padding-left: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: auto;
	background: #f5f5f5;
}


/*底部wrap*/

.bottom_wrap {
	margin: 0 auto;
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, .5);
}

.bottom_wrap_deposit {
	width: 15%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	letter-spacing: 2px;
	background-color: palegreen;
}


/*左 box*/

.left_box {
	float: left;
	padding-top: 60px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 300px;
	height: auto;
}

.left_box_fun_box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 96%;
	height: auto;
	border: 1px solid #d6d6d8;
}

.fun_box_top {
	padding-left: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 55px;
	line-height: 55px;
	background: -moz-linear-gradient(top, #fff 0%, #dddce1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dddce1));
	background: -webkit-linear-gradient(top, #fff 0%, #dddce1 100%);
	background: -o-linear-gradient(top, #fff 0%, #dddce1 100%);
	background: -ms-linear-gradient(top, #fff 0%, #dddce1 100%);
}

.fun_box_content {
	padding-left: 7px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: auto;
}

.fun_box_content_term {
	float: left;
	margin: 6px 0 6px 13px;
	width: 82px;
	height: 82px;
	font-size: 14px;
	line-height: 82px;
	border-radius: 6px;
	text-align: center;
	color: #fff;
	letter-spacing: 1px;
	background-color: #418bca;
}

.fun_box_content_term:nth-child(3n+1) {
	margin-left: 0;
}


/*鼠标悬浮*/

.fun_box_content_term:hover {
	cursor: pointer;
	background-color: #3378b3;
}


/*中间 box*/

.middle_box {
	position: relative;
	float: left;
	margin-left: 15px;
	padding-top: 16px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 372px;
	/*min-height: 600px;*/
	height: auto;
}


/*另外一个页面显示 wrap*/

.html_wrpa {
	width: 100%;
	height: auto;
	background: url(../../img/pc/phone/phone_center.png) 0 0 repeat-y;
}


/*另外一个页面显示 box*/

.html_box {
	margin: 0 auto;
	/*加多342px+17px的滚动条*/
	width: 342px;
	height: 600px;
	overflow: hidden;
	background-color: #fff;
}


/*隐藏滚动条*/

.html_box_new {
	/*加多17px的滚动条*/
	width: 359px;
	height: 100%;
	overflow-y: scroll;
}


/*模拟手机*/

.phone_top {
	width: 100%;
	height: 83px;
	background: url(../../img/pc/phone/phone_top.png) 0 0 no-repeat;
}

.phone_left {
	position: absolute;
	top: 16px;
	left: -5px;
	z-index: 1;
	height: 293px;
	width: 5px;
	background: url(../../img/pc/phone/phone_left.png) 0px 88px no-repeat;
}

.phone_right {
	position: absolute;
	top: 16px;
	right: -6px;
	z-index: 1;
	height: 220px;
	width: 6px;
	background: url(../../img/pc/phone/phone_right.png) 0px 158px no-repeat;
	float: left;
}

.phone_bottom {
	height: 92px;
	width: 372px;
	background: url(../../img/pc/phone/phone_bottom.png) 0 0 no-repeat;
}


/*右 box*/

.right_box {
	float: left;
	margin: 90px 0 0 20px;
	/*width: 480px;*/
	width: 610px;
	height: auto;
	padding: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: #171717;
	background: #fff;
}


/*包裹 传给后台style*/

#wrap_new {
	/*position: relative;*/
	width: 100%;
	height: auto;
}


/*拖拽的div*/
.modle_box {
	position: relative;
}

/*悬浮-出现*/

.modle_box:hover .cursor_wrap {
	display: block;
}


/*鼠标悬浮 删除 wrap*/

.cursor_wrap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .3);
}


/* 删除按钮*/

.cursor_box_del {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 14%;
	height: auto;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 24px;
	letter-spacing: 2px;
}

.cursor_box_del:hover {
	cursor: pointer;
}


/*Tab切换*/

iframe {
	width: 100%;
	height: 100%;
	border: 0;
}

.tab {
	width: 100%;
	position: relative;
}

.tabs a {
	text-decoration: none;
	color: #000;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	display: inline-block;
}

.tabs {
	z-index: 100;
}

.tabs>li {
	float: left;
	width: 25%;
	border-bottom: 1px solid #000;
	text-align: center;
}

.tabs .active>a {
	color: #fff;
}

.tabs .active {
	letter-spacing: 1px;
	background-color: #418bca;
}

.drag_box {
	cursor: move;
}


/* 轮播图 slide */

.slide {
	position: relative;
	width: 100%;
	height: 150px;
}

.slide_item,
.slide_item>img {
	display: block;
	width: 100%;
	height: 100%;
}

.slide_but {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20px;
	line-height: 20px;
	text-align: center;
	padding: 0 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.slide_but>span {
	display: inline-block;
	background: black;
	margin-right: 5px;
	opacity: .5;
}


/* 矩形按钮 */

.slide_but .rectangle {
	width: 20px;
	height: 10px;
}


/* 方形按钮 */

.slide_but .square {
	width: 10px;
	height: 10px;
}


/* 圆形按钮 */

.slide_but .roundness {
	width: 10px;
	height: 10px;
	border-radius: 50%;
}


/* 按钮位置 靠左 */

.slide .left {
	text-align: left;
}


/* 按钮位置 居中 */

.slide .center {
	text-align: center;
}


/* 按钮位置 靠右 */

.slide .right {
	text-align: right;
}

/* <<  按钮组 -s*/
.modle_bottons {
	
	width: 100%;
    height: auto;
    /*padding-left: 10px;
    padding-right: 10px;*/
    background: #fff;
   /* overflow: hidden;*/
    background-color: rgb(255, 255, 255);
}
.modle_bottons {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}
.botton-scope {
	-webkit-justify-content: center;
	justify-content: center;
	-moz-box-pack: center;
	-webkit-box-pack: center;
	box-pack: center;
}
/*.hide{
	display: none;
}*/

.modle_mod {
    height: auto;
    border: 2px dashed rgba(0,0,0,0);
    position: relative;
}

.modle_mod_nav {
	padding-top: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
    height: 100%;
    /*width: 25%;*/
   /* float: left;*/
    /*margin-top: 10px;
    margin-bottom: 10px;*/
}

.modle_mod_img {
    height: auto;
    margin: 0 20px;
}

.modle_mod_img img {
    width: 100%;
    border-radius: 0%;
}

.modle_mod_text {
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: #999;
    font-size: 12px;
    overflow: hidden;
}
/* 按钮图片 圆形样式 */
.modle_mod_garden{
	border-radius: 100%;
}

/* 按钮编辑 */
.ve-panel-editor-title {
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #999;
    border-bottom: 1px dashed #ccc;
    padding-left: 5px;
}

.ve-panel-editor-line {
    min-height: 40px;
    overflow: hidden;
}

.ve-panel-editor-name {
    height: 40px;
    width: 90px;
    font-size: 14px;
    text-align: center;
    line-height: 40px;
    color: #999;
    float: left;
}

.ve-panel-editor-con {
    min-height: 40px;
    float: left;
    line-height: 40px;
    color: #999;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    content: "...";
}

.ve-panel-editor-input1 {
    height: 30px;
    width: 545px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-top: 4px;
    line-height: 30px;
    color: #aaa;
    outline: none;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
}

.ve-panel-editor-input2 {
	margin-top: 4px;
	width: 70px;
    height: 30px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 3px;
    line-height: 30px;
    color: #aaa;
    
}

.ve-panel-editor-input3 {
    height: 30px;
    width: 320px;
    padding-left: 8px;
    border: 1px solid #ddd;
    border-radius: 3px 0px 0px 3px;
    margin-top: 4px;
    line-height: 30px;
    color: #aaa;
    outline: none;
    float: left;
    -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.1) inset;
}

.ve-panel-editor-input4 {
    height: 30px;
    width: 80px;
    background: #fff;
    text-align: center;
    border: 1px solid #ddd;
    border-left: 0px;
    border-radius: 0px 3px 3px 0px;
    margin-top: 4px;
    line-height: 30px;
    color: #aaa;
    outline: none;
    float: left;
    cursor: pointer;
}

/*.ve-panel-editor .tips {
    font-size: 12px;
    margin-left: 10px;
}*/

.ve-panel-editor-line2 {
    min-height: 100px;
    overflow: hidden;
    background: #f9f9f9;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-top: 10px;
    padding: 10px;
}

.ve-panel-editor-goodimg {
    min-height: 40px;
    width: 138px;
    border: 1px solid #ccc;
    float: left;
    position: relative;
    background: #fff;
    cursor: pointer;
}

.ve-panel-editor-goodimg-t1 {
    line-height: 78px;
    font-size: 16px;
    text-align: center;
    color: #999;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.ve-panel-editor-goodimg-t2 {
    height: 26px;
    width: 136px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    left: 0px;
    bottom: 0px;
    font-size: 14px;
    text-align: center;
    line-height: 26px;
    color: #fff;
}

.ve-panel-editor-line2-right {
    min-height: 80px;
    width: 356px;
    float: left;
}

.ke-dialog-mask {
    background-color: #FFF;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.ke-dialog-content {
    background-color: #FFF;
    width: 100%;
    height: 100%;
    color: #333;
    border: 1px solid #A0A0A0;
}

.ke-dialog-shadow {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 3px 3px 7px #999;
    -moz-box-shadow: 3px 3px 7px #999;
    -webkit-box-shadow: 3px 3px 7px #999;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3', MakeShadow='true', ShadowOpacity='0.4');
    background-color: #F0F0EE;
}

.ke-dialog-header {
    border: 0;
    margin: 0;
    padding: 0 10px;
    background: url(../../img/pc/phone/background.png) repeat scroll 0 0 #F0F0EE;
    border-bottom: 1px solid #CFCFCF;
    height: 24px;
    font: 12px/24px "sans serif",tahoma,verdana,helvetica;
    text-align: left;
    color: #222;
    cursor: move;
}

.ke-dialog-body {
    font: 12px/1.5 "sans serif",tahoma,verdana,helvetica;
    text-align: left;
    overflow: hidden;
    width: 100%;
}

.ke-dialog-footer {
    font: 12px/1 "sans serif",tahoma,verdana,helvetica;
    text-align: right;
    padding: 0 0 5px 0;
    background-color: #FFF;
    width: 100%;
}

.ke-dialog-icon-close {
    display: block;
    background: url(../../img/pc/phone/default.png) no-repeat scroll 0px -688px;
    width: 16px;
    height: 16px;
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
}

.ke-tabs {
    font: 12px/1 "sans serif",tahoma,verdana,helvetica;
    border-bottom: 1px solid #A0A0A0;
    padding-left: 5px;
    margin-bottom: 20px;
}

.ke-tabs-ul {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.ke-tabs-li {
    position: relative;
    border: 1px solid #A0A0A0;
    background-color: #F0F0EE;
    margin: 0 2px -1px 0;
    padding: 0 20px;
    float: left;
    line-height: 25px;
    text-align: center;
    color: #555555;
    cursor: pointer;
}

.ke-tabs-li-on {
    background-color: #FFF;
    color: #000;
}

.selected {
    background-color: #FFF;
    border-bottom: 1px solid #FFF;
    color: #000;
    cursor: default;
}

.ke-dialog-row {
    margin-bottom: 10px;
}

.ke-dialog-body label {
    margin-right: 10px;
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

.ke-input-text {
    background-color: #FFFFFF;
    font-family: "sans serif",tahoma,verdana,helvetica;
    font-size: 12px;
    line-height: 17px;
    height: 17px;
    padding: 2px 4px;
    border-color: #848484 #E0E0E0 #E0E0E0 #848484;
    border-style: solid;
    border-width: 1px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

.ke-button-outer {
    background-position: 0 -25px;
    padding: 0;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

.ke-button-common {
    background: url(../../img/pc/phone/background.png) no-repeat scroll 0 -25px transparent;
    cursor: pointer;
    height: 23px;
    line-height: 23px;
    overflow: visible;
    display: inline-block;
    vertical-align: top;
	cursor: pointer;
	margin-right: 10px;
}

.ke-button {
    background-position: right -25px;
    padding: 0 12px;
    margin: 0;
    font-family: "sans serif",tahoma,verdana,helvetica;
    border: 0 none;
    color: #333;
    font-size: 12px;
    left: 2px;
    text-decoration: none;
}

.ke-dialog-body label {
    margin-right: 10px;
    cursor: pointer;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

.ke-dialog-body img {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}

.ke-upload-button {
    position: relative;
}
.ke-inline-block {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
}
.ke-upload-area {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.ke-upload-area .ke-upload-file {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    padding: 0;
    margin: 0;
    z-index: 811212;
    border: 0 none;
    opacity: 0;
    filter: alpha(opacity=0);
}

.ke-input-number {
    width: 50px;
}

/* 商品组 -s*/


/*<< 轮播图编辑 */
.slide_title{
height: 30px;
	font-size: 18px;
	line-height: 30px;
	border-bottom: 1px dashed #000;
}

.edit_slide_content {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width: 100%;
	height: 40px;
	line-height: 40px;
}

.edit_slide_content>input {
	border: 0;
	padding: 3px 10px;
	border-radius: 4px;
}

.edit_slide_content_title {
	display: inline-block;
	width: 15%;
	text-align: left;
	letter-spacing: 1px;
}

.edit_slide_content_label {
	margin-right: 15px;
}

.edit_slide_content_label input {
	margin-right: 5px;
	vertical-align: middle;
}

.edit_slide_content_button {
	width: 20%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 6px;
	color: #fff;
	letter-spacing: 2px;
	background-color: #418bca;
}

.edit_slide_content_padding {
	padding-top: 10px;
}

.edit_slide_content_button:hover {
	cursor: pointer;
}

.edit_slide_addimg {
	position: relative;
	width: 100%;
	height: 100px;
	margin-top: 10px;
	padding: 10px;
	background: #f9f9f9;
	border-radius: 3px;
	border: 1px solid #e5e5e5;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.edit_slide_img {
	position: relative;
	float: left;
	width: 138px;
	height: 78px;
}

.edit_slide_img>img {
	display: block;
	width: 100%;
	height: 100%;
}

.edit_slide_img::after {
	position: absolute;
	left: 0px;
	bottom: 0px;
	content: "重新选择图片";
	display: block;
	width: 100%;
	height: 26px;
	background: rgba(0, 0, 0, 0.4);
	font-size: 14px;
	text-align: center;
	line-height: 26px;
	color: #fff;
}

.edit_slide_link {
	float: left;
}

.edit_slide_link>label {
	margin-left: 10px;
}

.edit_slide_link input {
	height: 30px;
	width: 220px;
	padding-left: 8px;
	border: 1px solid #ddd;
	border-radius: 3px 0px 0px 3px;
	margin-top: 4px;
	margin-left: 10px;
	line-height: 30px;
	color: #aaa;
	outline: none;
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1) inset;
}

.edit_slide_link>button {
	outline: none;
	color: #f5f5f5;
	border: 0;
	border-radius: 3px;
	background: #418bca;
	padding: 5px 10px;
	cursor: pointer;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.edit_slide_del{
	position: absolute;
	top: 3px;
	right: 3px;
	width: 20px;
	height: 20px;
	padding: 5px;
	cursor: pointer;
	background: #ddd;
	border-radius: 50%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.edit_slide_del img{
	display: block;
	width: 100%;
}

/*轮播编辑 >>*/

/*图片上传-遮罩层*/
.slide_mask {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 101;
	background: rgba(255, 255, 255, 0.5);
}

.slide_mask_content {
	display: block;
	width: 450px;
	height: 220px;
	position: absolute;
	top: 10%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: #fff;
	box-shadow: 3px 3px 7px #999;
	-moz-box-shadow: 3px 3px 7px #999;
	-webkit-box-shadow: 3px 3px 7px #999;
}

.mask_content_title {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	line-height: 30px;
	background: #eaeaea;
	border-bottom: 1px solid #CFCFCF;
}

.mask_content_title span {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
}

.mask_content_title span .del_icon {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	margin: auto;
	width: 40%;
	height: 40%;
}

.mask_content {
	padding: 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.mask_content_tab {
	padding-left: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid #A0A0A0;
}

.mask_content_tab>span {
	float: left;
	margin: 0 2px -1px 0;
	padding: 0 20px;
	line-height: 25px;
	text-align: center;
	color: #555555;
	cursor: default;
	background: #F0F0EE;
	border: 1px solid #A0A0A0;
}

.mask_content_tab .active {
	background-color: #FFF;
	border-bottom: 1px solid #FFF;
	color: #000;
	cursor: default;
}

.mask_content_item {
	margin-bottom: 10px;
}

.mask_content_item>label {
	display: inline-block;
	cursor: pointer;
	vertical-align: middle;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
	margin-right: 10px;
}

.mask_content_item>input {
	background-color: #FFFFFF;
	font-size: 12px;
	line-height: 17px;
	width: 200px;
	height: 17px;
	padding: 2px 4px;
	border-color: #848484 #E0E0E0 #E0E0E0 #848484;
	border-style: solid;
	border-width: 1px;
	display: inline-block;
	vertical-align: middle;
	outline: none;
}

.mask_content_item>button {
	margin-left: 10px;
	border: 1px solid #848484;
	border-radius: 3px;
	outline: none;
	background: -moz-linear-gradient(top, #fff 0%, #e5e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #e5e2e2));
	background: -webkit-linear-gradient(top, #fff 0%, #e5e2e2 100%);
	background: -o-linear-gradient(top, #fff 0%, #e5e2e2 100%);
	background: -ms-linear-gradient(top, #fff 0%, #e5e2e2 100%);
	background: linear-gradient(to bottom, #fff 0%, #e5e2e2 100%);
}

.mask_content_item .type1 {
	width: 60px;
	height: 20px;
	margin-left: 5px;
	border: 0;
	vertical-align: top;
}

.mask_content_btn {
	padding: 0 20px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.mask_content_btn .btn_wrap {
	float: right;
}
/* 商品组-s */
.modle_shop{
	padding: 5px 10px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.modle_shop_title{
	line-height: 30px;
	font-size: 16px;
}
/* 显示一个 */
.modle_shop_item{
	padding: 5px;
	height: 90px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
.modle_shop_item .modle_shop_img{
	float: left;
	width:25%;
}
.modle_shop_item .modle_shop_info{
	position: relative;
	float: left;
	width: 70%;
	margin-left: 10px;
}
.modle_shop_item .modle_shop_info .modle_shop_name{
	font-size: 16px;
	margin-bottom: 40px;
}
.modle_shop_item .modle_shop_info .modle_shop_price{
	width: 100%;
	font-size: 14px;
}
.modle_shop_item .modle_shop_info .modle_shop_price s{
	font-size: 12px;
}
.modle_shop_item .modle_shop_info .modle_shop_buybtn{
	position: absolute;
	right: 5px;
	bottom: 0;
	width: 14px;
	height: 14px;
	background:url(../../img/user/Set\ up@2x.png) no-repeat;
	background-size: contain;
}
/* 显示俩个 */
.modle_shop_item2{
	float: left;
	margin: 0 5px 5px;
	width: 46.8%;
}
/* 显示三个 */
.modle_shop_item3{
	float: left;
	margin: 0 5px 5px;
	width: 30%;
}
.modle_shop_img,.modle_shop_img{
	position: relative;
	width:100%;
}
.modle_shop_img img,.modle_shop_img img{
	display: block;
	width:100%;
}
.modle_shop_attr,.modle_shop_attr{
	position: absolute;
	left: 0;
	top: 0;
	width:40px;
	height:40px;
	background: url(../../img/user/Help@2x.png) no-repeat;
}
.modle_shop_item2 .modle_shop_price,.modle_shop_item3 .modle_shop_price{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	font-size: 14px;
	color: #f3f3f3;
	overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
	background: rgba(0,0,0,.3);
}
.modle_shop_item2 .modle_shop_price s,.modle_shop_item3 .modle_shop_price s{
	font-size: 12px;
}
.modle_shop_item2 .modle_shop_name,.modle_shop_item3 .modle_shop_name{
	float: left;
	width: 80%;
	line-height: 20px;
}
.modle_shop_item2 .modle_shop_buybtn,.modle_shop_item3 .modle_shop_buybtn{
	float: left;
	width: 20%;
	height: 20px;
	background:url(../../img/user/Set\ up@2x.png) no-repeat 2px 0;
	background-size: contain;
}
/* 商品组-e */